<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>So Far with Mirror.Js</title>
   <link rel="stylesheet" href="assets/bootstrap.css">
   <script src="assets/mirror.js"></script>
   <script src="assets/sofar.js"></script>
</head>
<body id="body">
   
   @vars
      $odinis = [{"name":"Ebuka", "age":22},{"name":"Pascal", "age":20},{"name":"Augustine", "age":19},{"name":"Daniel", "age":15}];
      $current = "Ebuka";
      $names = ["Alex","Anabelle","James","Queen"];
      $name = "Ebuka Odini";
      $age = 22; $codingForHowLong = 4;
   @@vars

   <div class="container border rounded bg-light my-5 mx-auto p-5 text-dark">

      <h3 style="text-decoration: underline;">So Far with Mirror.js</h3>

      <div class="my-2 rounded border p-3">
         <h5>Variable declaration</h5>
         <p>
            Variables are a good way to set data that are required by the page. To create a single variable, use this: <br>
            <code>&commat;var $variable = value;</code> <br>
            And to create multiple variables on a single line, use this: <br>
            <code>&commat;var $variable_1 = value_1; &commat;var $variable_2 = value_2;</code> <br>
            <blockquote class="text-info">Note: every variable must end with a semi-colon (;)</blockquote>
         </p>
      </div>
      
      <div class="my-2 rounded border p-3">
         <h5>Interpolation</h5>
         <p>
            Hi, I am {{ $name }}, and I started coding at age {{ $age - $codingForHowLong }}, It's cool because it's just been {{ $codingForHowLong }} years now. lol. :)
         </p>
      </div>

      <div class="my-2 rounded border p-3">
         <h5>Interpolation in HTML Attributes</h5>
         <p :title="{{$name}}">
            Hover around me to see my name. lol. :)
         </p>
      </div>

      <div class="my-2 rounded border p-3">
         <h5>Conditional Rendering</h5>
         @if ($age > 18)
         <p>
            {{ $name }} is an adult. lol. :)
         </p>
         @endif
         Well, that's because He's above 18.
      </div>

      <div class="my-2 rounded border p-3">
         <h5>List Rendering with Objects</h5>
         @for ($odini in $odinis)
         <p>
            I am {{ $odini.name }}, and I am {{ $odini.age }} years old.
         </p>
         @endfor
      </div>

      <div class="my-2 rounded border p-3">
         <h5>List Rendering with Arrays</h5>
         @for ($name in $names)
         <p>
            Hello {{ $name }}
         </p>
         @endfor
      </div>
      

   </div>
   
</body>
</html>
