<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>So Far with Mirror.Js</title>
   <link rel="stylesheet" href="assets/bootstrap.css">
   <script src="assets/mirror.js"></script>
   <script src="assets/main.js"></script>
</head>
<body id="body">
   
   @vars
      $odinis = [{"name":"Ebuka", "age":22},{"name":"Pascal", "age":20},{"name":"Augustine", "age":19},{"name":"Daniel", "age":15}];
      $current = "Ebuka";
      $names = ["Alex","Anabelle","James","Queen", "Cleave"];
      $name = "Ebuka Odini";
      $age = 22; $codingForHowLong = 4;
      $toggle = true;
   @@vars

   <div class="container border rounded bg-light my-5 mx-auto p-5 text-dark">

      <h3 style="text-decoration: underline;">So Far with Mirror.js</h3>

      <div class="my-2 rounded border p-3">
         <h5>Variable declaration</h5>
         <p>
            Variables are a good way to set data that are required by the page. To declare a single variable, use this: <br>
            <code>&commat;var $variable = value;</code> <br>
            And to declare multiple variables on a single line, use this: <br>
            <code>&commat;var $variable_1 = value_1; $variable_2 = value_2;</code> <br>
            To declare multiple variables in multiple lines, use this: <br>
            <code>&commat;vars <br>$variable_1 = value_1; <br>$variable_2 = value_2; <br>&commat;&commat;vars</code>
            <blockquote class="text-info">Note: every variable must end with a semi-colon (;)</blockquote>
         </p>
      </div>
      
      <div class="my-2 rounded border p-3">
         <h5>Interpolation</h5>
         <p>
            Hi, I am {{ $name }}, and I started coding at age {{ $age - $codingForHowLong }}, It's cool because it's just been {{ $codingForHowLong }} years now. lol. :)
         </p>
      </div>

      <div class="my-2 rounded border p-3">
         <h5>Interpolation in HTML Attributes</h5>
         <p :title="{{$name}}">
            Hover around me to see my name. lol. :)
         </p>
      </div>

      <div class="my-2 rounded border p-3">
         <h5>Conditional Rendering</h5>
         @if ($age > 18)
         <p>
            {{ $name }} is an adult. lol. :)
         </p>
         @endif
         Well, that's because He's above 18.
      </div>

      <div class="my-2 rounded border p-3">
         <h5>List Rendering with Arrays</h5>
         @for ($name in $names)

            <p> Hello {{ $name }} </p>

         @endfor
      </div>

      <div class="my-2 rounded border p-3">
         <h5>List Rendering with Objects</h5>
         @for ($odini in $odinis)
         <p>
            I am {{ $odini.name }}, and I am {{ $odini.age }} years old.
         </p>
         @endfor
      </div>

      <div class="my-2 rounded border p-3">
         <h5>Indexing in List Rendering</h5>
         @for ($index, $name in $names)

            <p :title="I am the {{ ($index + 1)}}th element.">{{ $index + 1 }}) Hello {{ $name }}, do you know {{ $current }}? </p>

         @endfor
      </div>

      <div class="my-2 rounded border p-3">
         <h5>Directive Nesting</h5>

         @for ($odini in $odinis)
            @if ($odini.age < 18)
            <p>
               {{ $odini.name }} is still a Child 👶🏼, because he is below 18. haha😂😂
            </p>
            @endif
            @if ($odini.age > 18)
            <p>
               {{ $odini.name }} is an Adult, because he is above 18. lol. 💪🏽
            </p>
            @endif
         @endfor
      </div>

      <div class="my-2 rounded border p-3">
         <h5>Detect Changes and Reflect</h5>

         @if ($toggle)
         <p>Toggle is On.</p>
         @endif

         @if (!$toggle)
         <p>Toggle is Off.</p>
         @endif

         <button onclick="$toggle = !$toggle; mirror.reflect();">Toggle</button>

      </div>

      <div class="my-2 rounded border p-3">
         <h5>Data Modelling</h5>

         <p>My name is {{ $name }}</p>
         <input type="text" onkeyup="$name = this.value; mirror.reflect();" :value="{{ $name }}">
      
      </div>

      <div class="my-2 rounded border p-3">
         <h5>Let's do Math</h5>

         @var $val1 = 5; $val2 = 10;

         <input type="num" onkeyup="$val1 = this.value; mirror.reflect();" :value="{{ $val1 }}"> - 
         <input type="num" onkeyup="$val2 = this.value; mirror.reflect();" :value="{{ $val2 }}"> = 
         {{ parseInt($val1) - parseInt($val2) }}
      
      </div>

      <div class="my-2 rounded border p-3">
         <h5>A Simple ToDo</h5>

         @var $tasks = ["Eat breakfast"]; $bg = "btn";

         <!-- the list -->
         @if ($tasks.length == 0)
            <p>Add your first task</p>
         @endif

         @if ($tasks.length > 0)
            @for ($index, $task in $tasks)
               <li class="my-1"> 
                  {{ $task }}
                  <button onclick="removeTask(this.id);" :id="{{$index}}" class="btn btn-sm mx-2 btn-dark">Remove</button>
               </li>
            @endfor
         @endif

         <script>
            function removeTask(id) {
               // console.log(id);
               $tasks.splice(id, 1);
               _.reflect();
            }
         </script>

         <br>
         <input id="newtask" type="text" value="">
         <button onclick="$tasks.push(document.getElementById('newtask').value); document.getElementById('newtask').value = ''; mirror.reflect();">Add</button>
      
      </div>

      <div class="my-2 rounded border p-3">
         <h5>Coming Soon...</h5>
         <p>Data Modelling ✔</p>
         <p>State Management</p>
         <p>Single Paged Applications & Routing</p>
         <p>:)</p>
      </div>
      

   </div>
   
</body>
</html>
