<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>MJs</title>

   <!-- Vendor -->
   <link rel="stylesheet" href="assets/bootstrap.css">
   <script src="assets/jquery.min.js"></script>
   <!-- Mirror JS -->
   <script src="assets/mirror.js"></script>
   <!-- Main -->
   <script src="assets/main.js"></script>

</head>
<body id="body" class="bg-secondary">
   
   @var $phone = 'samsung'; $model = A10; $company = "Apple";
   @var $phone = "Apple";
   @var $phones = ["Apple", "Samsung", "Tecno", "Huawei"];
   @var $company = {"name": "Apple", "country": "USA", "employees": 50000, "founders": "Steve  Job"};
   @var $con$tant = $company;

   @vars
      $name = "Ebuka";
      $age = 12;
   @@vars

   @if ($con$tant == $company)
      <a class="{{ $age > 18 ? 'text-danger' : 'text-success' }} display-4" href="foo">Next</a>
   @end

   <!-- objects and associative arrays -->
   @var field = 'name';
   @for (field in $company)
      <p>{{field}} : {{$company[field]}}</p>
   @end

   <!-- arrays -->
   @for (phone of $phones)
      <p>{{phone}}</p>
   @end

   <div>
      <h1>Boy</h1>
   </div>

</body>
</html>